<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitalButler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DigitalButler.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>mailmaster@kdmurray.net</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Yamato71807</value>
            </setting>
            <setting name="GmailPopServer" serializeAs="String">
                <value>pop.gmail.com</value>
            </setting>
            <setting name="GmailPopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="GmailSmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="GmailSmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="GmailUseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotmailPopServer" serializeAs="String">
                <value>pop3.hotmail.com</value>
            </setting>
            <setting name="HotmailPopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="HotmailSmtpServer" serializeAs="String">
                <value>smtp.live.com</value>
            </setting>
            <setting name="HotmailSmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="HotmailUseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YahooPopServer" serializeAs="String">
                <value>pop.mail.yahoo.com</value>
            </setting>
            <setting name="YahooPopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="YahooSmtpServer" serializeAs="String">
                <value>smtp.mail.yahoo.com</value>
            </setting>
            <setting name="YahooSmtpPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="YahooUseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMailService" serializeAs="String">
                <value>Gmail</value>
            </setting>
            <setting name="CycleDelay" serializeAs="String">
                <value>1</value>
            </setting>
        </DigitalButler.Properties.Settings>
    </applicationSettings>
</configuration>